@media all and (max-width: 1200px) {
  .container {
    width: 850px;
    margin: 0 auto; }

  .header-bottom .search input {
    width: 150px; }

  .header-bottom .search :nth-child(1) {
    left: 152px; }
  .header-bottom .search :nth-child(2) {
    left: 144px; }

  .slider .adaptivny-slayder {
    width: unset;
    margin-left: 0; }

  .slider-bottom img[src^='css/img/camera'] {
    height: 140px; }

  .toread {
    height: 280px; }

  .toread .overview .item-review img[src^='css/img/review'] {
    width: 240px; }

  .insta .insta-search {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .insta .insta-search .insta-photo {
    margin-bottom: 10px; } }
@media all and (max-width: 900px) {
  .container {
    width: 550px; }

  .header .topheader {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .header-bottom .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .header-bottom .sidemenu {
    width: 220px; }
    .header-bottom .sidemenu li div {
      width: 170px; }

  .header-bottom .sidemenu .addsidemenu {
    left: 220px;
    width: 250px; }

  .header-bottom .sidemenu .addsidemenu .closemenu button {
    left: 230px;
    width: 20px; }

  .header-bottom .user {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 40px;
    height: 50px; }

  .slider .camera {
    background-position: center; }

  .slider-bottom {
    margin-bottom: 20px; }

  .slider-bottom .item {
    margin-right: 12px; }

  .slider-bottom img[src^='css/img/camera'] {
    height: 100px;
    width: 110px;
    margin-top: 42px;
    right: 20px; }

  .slider-bottom img[src^='css/img/circle'] {
    right: 46px;
    height: 85px; }

  .slider-bottom p span {
    top: 63px; }

  .brands {
    margin: 55px 0px 15px 0px; }

  .brands div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .brands img[src^='css/img/brand'] {
    width: 100px;
    margin-right: 10px; }

  .toread .overview .item-review img[src^='css/img/review'] {
    width: 155px; }

  .insta h3 {
    margin-top: 10px; }

  .insta .insta-search {
    margin-left: 60px; }

  .insta .insta-search .insta-photo {
    margin-bottom: 10px; }

  .footer .footer-details {
    margin-right: 45px; }

  .footer .footer-details li {
    padding-bottom: 8px; } }
@media all and (max-width: 600px) {
  .container {
    width: 320px; }

  .header .topheader {
    height: 70px; }

  .header-bottom .topdetails {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .header-bottom .search {
    height: 70px;
    top: 15px;
    left: 42px; }

  .header-bottom .search input {
    height: 40px; }

  .header-bottom .sidemenu {
    height: 310px;
    width: 150px;
    padding-left: 0; }
    .header-bottom .sidemenu li {
      margin-bottom: 0px; }
      .header-bottom .sidemenu li div {
        height: 35px;
        width: 120px; }
        .header-bottom .sidemenu li div a {
          font-size: 14px; }
        .header-bottom .sidemenu li div img {
          display: none; }
    .header-bottom .sidemenu button {
      height: 35px; }
    .header-bottom .sidemenu .addsidemenu {
      left: 150px;
      width: 170px; }
      .header-bottom .sidemenu .addsidemenu ul {
        font-size: 12px; }
      .header-bottom .sidemenu .addsidemenu li a {
        font-size: 12px; }
      .header-bottom .sidemenu .addsidemenu .closemenu button {
        left: 150px; }

  .slider {
    height: unset; }
    .slider .abusteku-deagulus .adv-text p {
      display: none; }
    .slider .abusteku-deagulus .adv-text h2 {
      font-size: 16px;
      margin-left: 25px;
      padding-top: unset; }
    .slider .abusteku-deagulus .adv-text span {
      font-size: 14px;
      padding: 10px 20px 10px 20px; }
    .slider .abusteku-deagulus img {
      height: 150px; }

  .slider-bottom .three {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .slider-bottom .three img[src^='css/img/camera'] {
      position: absolute;
      right: 25%;
      height: 160px;
      width: 160px; }
    .slider-bottom .three img[src^='css/img/circle'] {
      position: absolute;
      bottom: 16px;
      right: 41px; }

  .brands img[src^='css/img/brand'] {
    width: 50px;
    height: 20px; }

  .toread .overview .item-review img[src^='css/img/review'] {
    width: 100px; }

  .toread .overview .item-review a {
    font-size: 12px; }

  .toread .overview .item-review {
    margin-right: 10px; }

  .footer .footer-details li {
    font-size: 12px; }

  .footer .bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .footer .footer-details {
    margin-right: 40px;
    width: 75px; } }

/*# sourceMappingURL=media.css.map */