//colors 
$black:rgba(0, 0, 0, 1);
$text:rgba(0, 0, 0, 1);
$white:rgba(255, 255, 255, 1);
$grey:rgba(239, 239, 239, 1);
$greylight:#E6E6E6;
$greydark:rgba(153, 147, 138, 1);
$yellow:rgba(250, 222, 75, 1);
$red:rgba(251, 0, 15, 1);

//text-size
$small-text:14px;
$basic-text:16px;
$big-text:32px;
$medium-text:24px;

//font-family
$font-fam:'Roboto', sans-serif;


